.footer {
  text-align: center;
  margin-top: 10px;
}

.header {
  .logo {
    text-align: center;
    margin: 2vh;
    .text {
      letter-spacing: 0.2vw;
      font-size: 3rem;
      font-weight: bold;
    }
  }
}
